@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');

html {
  text-align: center;
  color: white;
  background-color: black;
}

main {
  height: 30vh;
  margin-top: 60px;
}

h1 {
  color: #1fcdff;
  text-shadow: 1.5px 1.5px #fc6bce;
  font-size: 3rem;
  font-family: 'Mountains of Christmas', cursive;
}

p {
  color: #ffff67;
}

button {
  cursor: pointer;
  outline: none;
  background-color: rgb(226, 225, 225);
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 0 10px #fc6bce;
}

.image {
  background-image: url(./images/Rainbow-In-Black-Wallpaper-Funny.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 42vh;
  background-position: bottom;
}
